@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model OzSapkaTShirt.Controllers.ResetModel
<form asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="EMail" type="hidden" value="@ViewData["eMail"]" />
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassWord" class="control-label"></label>
        <input asp-for="PassWord" class="form-control" />
        <span asp-validation-for="PassWord" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassWord" class="control-label"></label>
        <input asp-for="ConfirmPassWord" class="form-control" />
        <span asp-validation-for="ConfirmPassWord" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Tamam" class="btn btn-primary" />
    </div>
</form>
